#verwijder {
    visibility: visible;
}
#ContentHeadCenter {
    clear:both;
}

#imgQrCode{
    width:100px;
    height:100px;
}
.page-header {
    clear:both;
    margin-top:50px;
    height:70px;
}
.floatLeft {
    float:left;
    margin-right: 50px;
    margin-bottom:20px;
    width:45%;
}

.floatQr{
    float:left;
    margin-right: 50px;
    margin-top:15px;
}

#ContentHeadCenter_imgQrCode{
    margin-top:50px;
    width:200px;
    height:200px;
}
.floatRight {
    float:right;
    margin-left:20px;
}
#subtitle {
    text-align: center;
}

.center {
    text-align:center;

}
.signIn {
    max-width:300px;
}
form-horizontal {
    width:300px;
}
.color {
    font-size:1.5em;
    color:#000;
    text-align:center;
}
.createUser {
    background-color:transparent;
    color:#000;
}

.textarea {
    resize: none;
}

.logocreativity
{
    margin-top:-40px;
    height:100px;
    width:140px;
}