#verwijder {
    visibility: visible;
}
#ContentHeadCenter {
    clear:both;
}
.page-header {
    clear:both;
    margin-top:50px;
}
.floatLeft {
    float:left;
    margin-left: 20px;
    min-width:300px;
}
.floatRight {
    float:right;
    margin-left:20px;
}
#subtitle {
    text-align: center;
}
.center {
    text-align:center;

}
.signIn {
    max-width:300px;
}
form-horizontal {
    width:300px;
}
.color {
    color:#000;
}
.createUser {
    background-color:transparent;
    color:#000;
}

.textarea {
    resize: none;
}